<app-navegacion></app-navegacion>


<div class="container mt-3 hm">
  <div class="row">
    <div class="col-12 col-md-4">
      <form>
        <input class=" form-control" type="text" name="buscarCategoria" id="buscarCategoria"
          placeholder="Buscar Categoria" (keyup)="setFiltro()" value="" [(ngModel)]="filtro">
      </form>
    </div>
  </div>

  <div *ngFor='let categoria of categorias' >
      <caption>{{categoria.nombre}}</caption>
      <table>
        <thead>
           <tr>
             <th> Compañia </th>
             <th> Posición </th>
             <th> Ubicación </th>
           </tr>
        </thead>
        <tbody>
          <tr *ngFor= 'let categ of categoria.vacante' >
            <td> {{categ.compania}}</td>
            <td> {{categ.posicion}}</td>
            <td> {{categ.ubicacion}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<app-pie></app-pie>