<nav class="navbar navbar-dark bg-blue-p mb-4">
    <a class="navbar-brand  mx-3" routerLink="../Principal">
        <img src="assets/login-white.svg" alt=""  width="30" height="30" class="d-inline-block align-top" >
        Job.com
    </a>
    <div class="justify-content-between">
        <a class="btn btn-primary mx-1 bg"> Administrador</a>
        <a class="btn btn-primary mx-1 bg" routerLink="../Agregar_Post">Post</a>
        <a class="btn btn-primary mx-1 bg" >Usuario</a>
        <a class="btn btn-primary mx-1 bg bi bi-power"></a>

    </div>
</nav>