<div class="container">
    <h1>Front-end - Time Full</h1>
    <label>Santo Domingo Norte </label> <br>
    <label>Claro Dominicana </label> <br>
    <h2 class="mt-2">Contacto:</h2>
    <hr>
    <div>
        <b>Telefono: </b>
        <i>(809)xxx-xxxx</i> <br>
        <b>Correo: </b>
        <i>ejemplo@ejemplo.com</i> <br>
    </div>
    <h2 class="mt-2">Descripción:</h2>
    <hr>
    
    <div>
        <b>Tipo: </b>
        <i>Full Time </i> <br>
        <p class="Descripcion">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam debitis, 
            itaque sit obcaecati nemo recusandae culpa minima est consequatur necessitatibus 
            nesciunt architecto quos, non beatae corporis. Ipsa, esse beatae! Beatae?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam debitis, 
            itaque sit obcaecati nemo recusandae culpa minima est consequatur necessitatibus 
            nesciunt architecto quos, non beatae corporis. Ipsa, esse beatae! Beatae? 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam debitis, 
            itaque sit obcaecati nemo recusandae culpa minima est consequatur necessitatibus 
            nesciunt architecto quos, non beatae corporis. Ipsa, esse beatae! Beatae?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam debitis, 
            itaque sit obcaecati nemo recusandae culpa minima est consequatur necessitatibus 
            nesciunt architecto quos, non beatae corporis. Ipsa, esse beatae! Beatae?
        </p>
    </div>
</div>