<app-navegacion></app-navegacion>
<div class="container">
    <h1>{{categoria}} - {{vacante.horario}}</h1>
    <b>{{vacante.ubicacion}}</b> <br>
    <b>{{vacante.compania}}</b> <br>
    <h2 class="mt-2">Contacto:</h2>
    <hr>
    <div>
        <b>Telefono: </b>
        <label class="fill">{{vacante.telefono}}</label> <br>
        <b>Correo: </b>
        <label class="fill">{{vacante.correo}}</label> <br>
    </div>
    <h2 class="mt-2">Descripción:</h2>
    <hr>
    
    <div>
        <b>Tipo: </b>
        <label class="fill">{{vacante.horario}} </label> <br>
        <p class="Descripcion">
            {{vacante.descripcion}}
        </p>
    </div>
</div>

<app-pie></app-pie>