<!-- <p>barra-navegaciones works!</p> -->
<div class="bg-blue-p">
    <ul class="menu">

        <li>
            <img class="logo" src="images/logoJob.jpeg">
        </li>
        <li>
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ><i class="glyphicon glyphicon-search"></i>Buscar</button> -->
        </li>
        <li>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ><i class="glyphicon glyphicon-search"></i>Buscar</button>
        </li>
        <a class="btn btn-info" title="Buscar"><i class="glyphicon glyphicon-search"></i></a>
        <li>Administrar</li>
        <li>Agregar Post</li>
        <li>Usuario</li>

    </ul>

</div>