<div class="container">
    <h2>Agregar Administrador</h2>
    <hr>
    <form>
        <div class="form-group row mt-3 ">
            <div class=" col-sm-12 col-lg-8">
                <label for="Nombre">Nombre:</label>
                <input class="form-control lg-3 " type="text" name="Nombre" id="Nombre" placeholder="Nombre">
            </div>
        </div>
        <!-- <div class="form-group  mt-3">
            <label for="tiempo">Tiempo:</label>
            <mat-radio-group id="tiempo" aria-label="Select an option">
                <mat-radio-button value="1" class="px-2 bg-radio-blup" checked>Tiempo completo</mat-radio-button>
                <mat-radio-button value="2" class="px-2 bg-radio-blup">Medio tiempo</mat-radio-button>
                <mat-radio-button value="3" class="px-2 bg-radio-blup">Freelancer</mat-radio-button>
            </mat-radio-group>
        </div> -->
        <div class="form-group  mt-3">
            <div class="col-sm-12 col-lg-8">
                <label for="Apellido">Apellido:</label>
                <input class="form-control" type="text" name="Apellido" id="Apellido" placeholder="Apellido">
            </div>
        </div>
        <div class="form-group  mt-3">
            <div class="col-sm-12 col-lg-8">
            <label for="Cedula">Cedula:</label>
            <input class="form-control" type="number" name="Cedula" id="Cedula" placeholder="Cedula">
        </div></div>
        <div class="form-group  mt-3">
            <div class="col-sm-12 col-lg-8">
            <label for="Telefono">Telefono:</label>
            <input class="form-control" type="number" name="Telefono" id="Telefono" placeholder="Telefono">
        </div></div>
        <div class="form-group  mt-3">
            <div class="col-sm-12 col-lg-8">
            <label for="Correo">Correo:</label>
            <input class="form-control" type="email" name="Correo" id="Correo" placeholder="Correo">
        </div></div>
        <div class="form-group  mt-3">
            <div class="col-sm-12 col-lg-8">
            <label for="Contraseña">Contraseña:</label>
            <input class="form-control" type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña">
        </div></div>
        <div class="form-group  mt-3">
            <div class="col-sm-12 col-lg-8">
            <label for="Confirmar Contraseña">Confirmar Contraseña:</label>
            <input class="form-control" type="password" name="Confirmar Contraseña" id="Confirmar Contraseña" placeholder="Confirmar Contraseña">
        </div></div>

        <div class="form-group row mt-3">
            <div class="col-sm-12 col-md-2">
                <button type="submit" class="btn bg-blue-p text-center">Registrarse</button>
            </div>
            <div class="col-sm-12 col-md-2">   
                <input type="reset" value="Cancelar" class="btn btn-danger">
            </div>
        </div>
    </form>
</div>